/* Contenedor Flex */
.container {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    
    }
    /* Columna Izquierda */
    .left-column {
    flex: 1; /* Toma 2 partes del espacio */
    margin: 5px;
    padding: 10px;
    border-style: dotted;
    }
    /* Columna Derecha */
    .right-column {
    flex: 1; /* Toma 1 parte del espacio */
    margin: 5px;
    padding: 10px;
    border-style: dotted;

    }
    .parrafo{
    border-style: dotted;
    }